<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
      <%= render 'layouts/header' %>
  <body>
	<div id="contentcontainer"> 
		<div class="wrap"> 
	<div class="container_12"> 
	        <%= yield %>
	</div>
	</div>
	</div>
  </body>
      <%= render 'layouts/footer' %>
	
</html>
